@import './screens/tools/tools.scss';
@import './screens/colors/colors.scss';
@import './screens/frames/frames.scss';
@import './screens/canvas/canvas.scss';
@import './screens/preview/preview.scss';
@import './screens/keyboard/keyboard.scss';
@import './screens/info-field/info.scss';
@import './screens/export/export.scss';
@import './screens/authorization/auth.scss';
@import './screens/landing-page/landing-page.scss';

body {
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', Helvetica, sans-serif;
    color: #3f4249;
}

.wrapper {
    display: grid;
    grid-template: 200px 1fr 1fr 50px / 50px 1fr 800px 1fr;
    padding: 30px 100px;
    height: 850px;
    background: #686b70;
}

.header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    height: 50px;
    background: #3f4249;

    &__navigation-auth {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
    }

    %auth-button {
        width: 100px;
        height: 35px;
        text-transform: uppercase;
        font-weight: bold;
        background: #acc7cd;
        border: 2px solid #e1e6e2;
        color: #3f4249;

        &:hover {
            background: #d6b87c;
            cursor: pointer;
        }
    }

    &__sing-in-button {
        @extend %auth-button;
    }

    &__sing-out-button {
        @extend %auth-button;
        margin-right: 20px;
    }
}

h1 {
    margin: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #e1e6e2;
}

h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 50px 0;
}

li {
    list-style: none;
}

button {
    margin: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

%close-line {
    content: ' ';
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    // background-color: #e1e6e2;
}

.close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;

    &::before {
        @extend %close-color;
        @extend %close-line;
        transform: rotate(45deg);
    }

    &::after {
        @extend %close-color;
        @extend %close-line;
        transform: rotate(-45deg);
    }

    &:hover::before {
        background: #d6b87c;
    }

    &:hover::after {
        background: #d6b87c;
    }
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
