@import './screens/tools/tools.scss';
@import './screens/colors/colors.scss';
@import './screens/frames/frames.scss';
@import './screens/canvas/canvas.scss';
@import './screens/preview/preview.scss';
@import './screens/canvas/canvas-size-button.scss';
@import './screens/keyboard/keyboard.scss';

img {
    position: absolute;
    width: 100px;
    display: none;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 200px 1fr 1fr 50px / 50px 1fr 800px 1fr;
    padding: 30px 100px;
    height: 850px;
    background: #686b70;
}

header {
    height: 50px;
    background: #3f4249;
}

button {
    margin: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
