.canvas-contain {
    position: relative;
    grid-area: 1 / 3 / 4 / 4;
    margin: auto;
    width: 800px;
    height: 800px;

    &__drawing-canvas {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        background: #e1e6e2;
    }

    &__secondary-canvas {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.canvas-size {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    margin: 0 auto;

    & button {
        height: 25px;
        width: 35px;
        background: #e1e6e2;
        border: 2px solid #3f4249;
        color: #3f4249;
    }

    & button:hover {
        background: #d6b87c;
        color: #fff;
        cursor: pointer;
    }

    & .selected {
        background: #acc7cd;
        color: #3f4249;
    }
}
