.canvas-size {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    margin: 0 auto;

    & button {
        height: 25px;
        width: 35px;
        background: #e1e6e2;
        border: 2px solid #3f4249;
        color: #3f4249;
    }

    & button:hover {
        background: #d6b87c;
        color: #fff;
        cursor: pointer;
    }

    & .selected {
        background: #acc7cd;
        color: #3f4249;
    }
}
