.tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100px;
    margin: auto 0;

    & button {
        height: 50px;
        width: 50px;
        font-size: 25px;
        border: 1px solid #eee;
        background: #fff; 
    }
}
