.keyboard-modal {
    grid-area: 4 / 1 / 5 / 2;

    &--button {
        width: 50px;
        height: 50px;
        font-size: 25px;
        border: 2px solid #3f4249;
        background: #acc7cd;
        
        &:hover {
            cursor: pointer;
            background: #e3decb;
        }
    }
}

.keyboard-contain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000069;

    &__modal {
        position: relative;
        display: grid;
        grid-template: 100px 195px 1fr 1fr / 1.5fr 1fr;
        width: 1200px;
        height: 800px;
        background: #3f4249;
        border: #d6b87c 3px solid;

        & h3 {
            grid-area: 1 / 1 / 2 / -1;
            margin: 0;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #d6b87c;
        }

        %shortcuts {
            font-size: 25px;
            color: #e1e6e2;
            display: grid;
            grid-gap: 15px;
            grid-auto-flow: column;
            width: 350px;
            
            & h4 {
                margin: 0;
                grid-area: 1 / 1 / 2 / -1;
                display: flex;
                align-items: center;
            } 
            
            & div {
                display: flex;
                align-items: center;
                margin-bottom: 6px;
                height: 50px;
                border: 1px solid #3f4249;
            }

            & i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                width: 50px;
                height: 50px;
                background: #d6b87c;
                color: #3f4249;
            }

            & button {
                width: 50px;
                height: 50px;
                font-size: 25px;
                background: #3f4249;
                color: #acc7cd;
                border: 3px solid #acc7cd;
                cursor: pointer;
            }

            & span {
                margin-left: 15px;
                font-size: 18px;
            }
        }

        &--tool {
            @extend %shortcuts;
            grid-area: 2 / 1 / 4 / 2;
            grid-template: repeat(7, 50px) / 1fr 1fr;
            margin-left: 50px;
            
            & div {
                width: 300px;
            }
        }

        &--session {
            @extend %shortcuts;
            grid-template: repeat(3, 50px) / 1fr;
            margin-left: 25px;

            & #width-button {
                width: 115px;
            }
        }

        &--preview {
            @extend %shortcuts;
            grid-template: repeat(4, 50px) / 1fr;
            margin-left: 25px;
        }
    }

    & .close {
        &::before {
            background-color: #e1e6e2;
        }

        &::after {
            background-color: #e1e6e2;
        }
    }
}

